/* LIBRARIES */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Work+Sans:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@300;400;500;600;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.4.0/css/all.css');

/* --------------------------------- */

/* COMPONENTS */
@import url('components/header.css');
@import url('components/menu.css');
@import url('components/banner.css');
@import url('components/grid.css');
@import url('components/info-card.css');
@import url('components/section.css');
@import url('components/avatar.css');
@import url('components/image-grid.css');
@import url('components/footer.css');

/* --------------------------------- */

/* UTILITIES */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #F7F9FF;
  color: #01082F;
  margin: 0;
  font-size: 1.4rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  min-height: 50px;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  color: #00349A;
  margin-bottom: 4rem;
  margin-top: 0;
}

h2 {
  font-size: calc(48rem / 16);
  font-weight: 900;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: calc(28rem / 16);
  font-weight: 900;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: calc(42rem / 16);
}

p {
  line-height: 1.8;
  font-size: calc(16rem / 16);
  margin-top: 0;
  margin-bottom: calc(30rem / 16);
}

a {
  font-family: 'Arial', sans-serif;
}

img {
  width: 100px;
}

/* --------------------------------- */

/* CUSTOM DESIGN */

/* Containers */

.container {
  padding: calc(60rem / 16) calc(60rem / 16) 0 calc(60rem / 16);
}

.container-md {
  padding: 0 calc((110rem + 60rem) / 16);
}

.container-sm {
  padding: 0 calc((100rem + 110rem + 60rem) / 16);
}

.margin-top {
  margin-top: calc(150rem / 16);
}

.margin-top-md {
  margin-top: calc(70rem / 16);
}

.margin-top-sm {
  margin-top: calc(60rem / 16);
}

/* Box shadows */

.box-shadow-xl {
  box-shadow: 0 3px 12px 0 rgba(202, 204, 215, 1);
}

.box-shadow-md {
  box-shadow: 0 1px 12px 0 rgba(202, 204, 215, 0.25);
}

.box-shadow-light {
  box-shadow: 0 1px 12px 0 rgba(229, 234, 255, 0.25);
}

/* Callout */

.callout {
  color: #00349A;
  text-align: center;
  font-style: italic;
  font-size: calc(36rem / 16);
  padding: 0 calc(100rem / 16);
  margin-top: calc(150rem / 16);
}

/* --------------------------------- */

/* MEDIA QUERIES */

@media (max-width: 1200px) {
}

@media (max-width: 960px) {
  p {
    font-size: calc(24rem / 16);
  }

  .location-cards-wrapper, .testimonial-cards-wrapper {
    grid-template-columns: 1fr;
    gap: calc(80rem / 16);
  }

  .text-card-wrapper {
    grid-template-columns: 1fr;
  }

  .text-card {
    padding: calc(80rem / 16) calc(110rem / 16);
  }

  .text-card-wrapper:last-child .text-card:last-child {
    padding-top: 0;
  }

  .location-card {
    height: fit-content;
  }

  .location-card div {
    height: 100%;
  }

  .location-card div p {
    font-size: calc(22rem /16);
    line-height: 1.4;
  }

  .info-card {
    justify-content: center;
    padding: calc(40rem / 16) calc(60rem / 16);
    margin-top: 0;
  }

  .container-sm {
    padding: 0 calc(110rem / 16);
  }

  .container-md {
    padding: 0 calc(110rem / 16);
  }

  .banner-text a {
    display: none;
  }

  .image-grid {
    grid-template-columns: 1fr 1fr;
  }

  .button p {
    font-size: calc(24rem / 16);
  }

  h3, .company-name {
    font-size: calc(32rem / 16);
  }

  .section h3 {
    font-size: calc(46rem / 16);
  }
}

@media (max-width: 720px) {
}

@media (max-width: 660px) {
}

@media (max-width: 580px) {
}
