.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: calc(15rem / 16);
}

.avatar-wrapper p {
  margin: 0;
  color: #00349A;
  font-size: calc(22rem / 16);
  font-weight: 900;
}

.avatar-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}