.banner-text {
  margin-top: calc(200rem/ 16);
  padding-right: calc(80rem/ 16);

}

.banner-text p {
  color: #00349A;
  margin-top: calc(60rem /16);
  font-size: calc(24rem / 16);
}

.banner-text h2 {
  margin-bottom: calc(60rem /16);
}

.banner-text i {
  color: #01082F;
  font-size: calc(42rem / 16);
  transition: color 0.5s ease-out;
}

.banner-text i:hover {
  color: #00349A;
}