footer {
  color: #FFFFFF;
  background-color: #010B41;
  padding-top: calc(120rem / 16)
}

.contact {
  text-align: center;
  margin-bottom: calc(140rem / 16);
}

.contact h3 {
  text-align: center;
  font-size: calc(46rem / 16);
  margin-bottom: calc(40rem / 16);
}

.contact-info-wrapper {
  display: flex;
  justify-content: center;
  gap: calc(100rem / 16);
}

.contact-info-wrapper a {
  text-decoration: none;
  color: #FFFFFF;
}

.contact-info, .instagram-button {
  display: flex;
  align-items: center;
  gap: calc(16rem / 16);
}

.instagram-button i {
  font-size: calc(42rem / 16);
}

.contact-info i {
  font-size: calc(36rem / 16);
}

.contact-info-text {
  margin: 0;
  font-size: calc(24rem / 16);
}

.instagram-button:hover {
  color: #7BA3F3;
  border-radius: 3px;
}

.footer-logos {
  color: #01082F;
  background-color: #FFFFFF;
  padding-top: calc(50rem / 16);
}

.logos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(42rem / 16);
  margin-bottom: calc(32rem / 16);
}

.credit {
  text-align: center;
  font-size: calc(16rem / 16);
  color: #545A75;
  margin: 0;
  padding: calc(30rem / 16) 0 calc(50rem / 16) 0;
}