header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header > .container {
  background-color: #E5EAFF;
}

.header-background > img {
  width: 550px;
}

.header-background {
  --current-bg: url(../../images/background-full.png);

  background-image: var(--current-bg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}