header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slideshow > img {
  width: 400px;
}

.slideshow {
  --bg1: url(../../images/image-1.png);
  --bg2: url(../../images/image-2.png);
  --bg3: url(../../images/image-3.png);

  --current-bg: var(--bg1);
  --numberOfImages: 3;
  --duration: 21s;
  --fadeDuration: calc(var(--duration) / var(--numberOfImages));

  background-image: var(--current-bg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: changeImage var(--duration) linear infinite, fade var(--fadeDuration) linear infinite;
}

@keyframes changeImage {
  0% {
    --current-bg: var(--bg1);
  }
  33.33% {
    --current-bg: var(--bg2);
  }
  66.66% {
    --current-bg: var(--bg3);
  }
  100% {
    --current-bg: var(--bg1);
  }
}

@keyframes fade {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}