header {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: calc(16rem / 16);
}

.logo-wrapper h1 {
  font-size: calc(32rem / 16);
  font-weight: 500;
  margin: 0;
}

.logo-wrapper h1 span {
  font-weight: 900;
}

#logo img {
  width: 90px;
}

