.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #00349A;
  border-radius: 3px;
  color: #00349A;
  background-color: #E5EAFF;
  height: 100%;
  padding: 0 calc(80rem / 16);
}

.info-card p {
  margin: calc(28rem / 16) 0;
  font-size: calc(20rem / 16);
  font-weight: 900;
}