.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(16rem / 16);
  border: 1px solid #00349A;
  border-radius: 3px;
  margin: 0 calc(100rem / 16);
  color: #00349A;
  background-color: #E5EAFF;
}

.info-card p {
  margin: calc(48rem / 16) 0;
  font-size: calc(20rem / 16);
  font-weight: 900;
}